
Twilio.xcodeproj/xcuserdata/Randall.xcuserdatad/xcschemes/xcschememanagement.plist

Twilio.xcodeproj/xcuserdata/Randall.xcuserdatad/xcschemes/Twilio.xcscheme

Twilio.xcodeproj/xcuserdata/Randall.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Twilio.xcodeproj/project.xcworkspace/xcuserdata/Randall.xcuserdatad/UserInterfaceState.xcuserstate

Twilio.xcodeproj/project.xcworkspace/contents.xcworkspacedata
